<% provide(:title, 'Batalha') %>
<% provide(:label, 'Batalha') %>

<%#= content_for :js_scripts do %>
	<%#= javascript_include_tag 'application', 'main_battle' %>
<%# end %>

<div class="row">
	<div class="col-sm-12">
		<div class="table-responsive">
			<table id="initiative" class="table table-condensed">
				<thead>
					<%= content_tag(:tr) do %>
						<%= content_tag(:th, "Nome",       width: "25%") %>
						<%= content_tag(:th, "Atributo",   width: "7%")  %>
						<%= content_tag(:th, "Resitência", width: "10%")  %>
						<%= content_tag(:th, "Recurso",    width: "7%")  %>
						<%= content_tag(:th, "Aparar",     width: "7%")  %>
						<%= content_tag(:th, "Armadura",   width: "7%")  %>
						<%= content_tag(:th, "Posição",    width: "12%") %>
						<%= content_tag(:th, "Iniciativa", width: "7%")  %>
						<%= content_tag(:th, "NA Total",   width: "7%")  %>
					<% end %>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="col-sm-6">
			<div class="input-group input-group-sm">
				<span class="input-group-addon">NPC</span>
				<%= collection_select(:battle, :npc_id, @npcs, :id, :name, {}, 
								data: {
									toggle: "tooltip", placement: "top" },
								title: "O NPC selecionado será adicionado à lista",
								class: "form-control") %>
				<span class="input-group-btn">
					<%= button_tag type: "button", name: "adicionar", 
								class: "btn btn-default btn-sm" do %>
						<%= link_icon("plus", "Adicionar") %>
					<% end %>
				</span>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="pull-right">
				<%= button_tag type: "button", name: "adicionar_grupo",
								data: { toggle: 'modal', target: '#modal-party'  },
								title: "Os NPCs do grupo selecionado serão adicionados à lista", 
								class: "btn btn-default btn-sm" do %>
					<%= link_icon("plus", "Adicionar Grupo") %>
				<% end %>
				<%= button_tag type: "button", name: "replicate",
								data: {
									toggle: "tooltip", placement: "top" },
								title: "O último NPC será replicado", 
								class: "btn btn-default btn-sm" do %>
					<%= link_icon("duplicate", "Replicar") %>
				<% end %>
				<%= button_tag type: "button", name: "generate", 
								data: {
									toggle: "tooltip", placement: "top" },
								title: "Gera numeração de iniciativa para todos os NPCs", 
								class: "btn btn-default btn-sm" do %>
					<%= link_icon("cog", " Gerar Iniciativa") %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<%= render 'modal_party' %>