<div class="row-fluid">
	<div class="table-responsive">
		<table id="iniciativa" class="table table-condensed">
			<thead>
				<%= content_tag(:tr) do %>
					<%= content_tag(:th, "Nome",           width: "27%") %>
					<%= content_tag(:th, "Atributo",       width: "7%")  %>
					<%= content_tag(:th, "Resitência",     width: "10%") %>
					<%= content_tag(:th, "Recurso",        width: "7%")  %>
					<%= content_tag(:th, "Aparar",         width: "7%")  %>
					<%= content_tag(:th, "Armadura",       width: "7%")  %>
					<%= content_tag(:th, "Posição",        width: "10%") %>
					<%= content_tag(:th, "Iniciativa",     width: "7%")  %>
					<%= content_tag(:th, "NA Total",       width: "7%")  %>
				<% end %>
			</thead>
			<tbody></tbody>
			<tfoot>
				<tr>
					<th colspan="11">
						<%= content_tag(:div, class: "pull-left") do %>
							<%= button_tag type: "button", name: "adicionar", 
																	class: "btn btn-success btn-xs" do %>
								<%= link_icon("plus", "Adicionar") %>
							<% end %>
						<% end %>
						<%= content_tag(:div, class: "pull-right") do %>
							<%= button_tag type: "button", name: "replicar", 
																	class: "btn btn-default btn-xs" do %>
								<%= link_icon("duplicate", "Replicar") %>
							<% end %>
							<%= button_tag type: "button", name: "gerar", 
																	class: "btn btn-default btn-xs" do %>
								<%= link_icon("cog", " Gerar Iniciativa") %>
							<% end %>
						<% end %>
					</th>
				</tr>
			</tfoot>
		</table>
	</div>
</div>

<% content_for :head do %>
  <script type="text/javascript">
    <%= render :partial => "battle.js" %>
  </script>
<% end %>