<%= form_for(@party, class: 'form-horizontal') do |f| %>
	<div class="col-md-12 col-thin">
		<div class="form-group">
			<%= f.label :title, "Titulo" %>
			<%= f.text_field :title, class: 'form-control input-sm' %>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h5>
					<b>NPC's</b>
					<div class="pull-right">
						<%= f.button :name => "add_npc",    type: 'submit', 
																				class: 'btn btn-info btn-xs' do %>
							<%= link_icon('plus') %> Adicionar
						<% end %>
						<%= f.button :name => "remove_npc", type: 'submit', 
																				class: 'btn btn-danger btn-xs' do %>
							<%= link_icon('remove') %> Remover Selecionados
						<% end %>
					</div>
				</h5>
			</div>

			<div class="table-responsive">
				<table id="members" class="table table-condensed">
					<thead>
						<tr>
							<th width="85%" colspan="2">Membro</th>
							<th width="15%">Quantidade</th>
						</tr>
					</thead>
					<tbody>
						<%= f.fields_for :party_npcs, @party.party_npcs do |ff| %>
							<%= ff.hidden_field :id %>
							<tr>
								<td width="5%" align="center">
									<%= f.check_box :_destroy %>
								</td>
								<td width="80%">
									<%= ff.collection_select :npc_id, @party.filter_npcs, 
												:id, :name, {}, class: "form-control input-sm" %>
								</td>
								<td width="15%">
									<%= ff.number_field :amount, 
																				class: "form-control input-sm" %>
								</td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>

		</div>
	</div>

	<div class="col-md-12 col-thin">
		<div class="form-group">
			<%= button_tag yield(:button_text),	type: :submit, 
																					class: "btn btn-default btn-sm" %>
		</div>
	</div>
<% end %>

<script type="text/javascript">
/*
	$.startAutoComplete = function() {
		$('.party_npc_name').each(function(index, el) {
			$.tr = $(el).closest('tr');
			$.id = $.tr.find('input[name="party[members][][npc_id]"]');
			$(el).autocomplete({
        source: '/npcs.json',
        position: {
            collision: "flip"
        },
        select: function (event, ui) {
            $.id.val(ui.item.id);
            $(this).val(ui.item.label);
        },
        change: function (event, ui) {
            if (ui.item == null) {
                $.id.val('');
                $(this).val('');
            }
        },
        minLength: 3,
        delay: 500
			});
		});
	}

	$(function() {
		$.startAutoComplete();
	});

	$('.add').click(function(event) {
		$.tr         = $("<tr/>", {"id": $.index});
		$.td_btn     = $("<td/>", { "width": "5%"  });		
		$.btn    = $("<button/>", { 
			"type"  : "button",
			"class" : "btn btn-danger btn-block btn-sm del",
			"html"  : "<span class=\"glyphicon glyphicon-minus\"></span>"
		});
		$.btn.appendTo($.td_btn);

		$.td_name = $("<td/>", { "width": "80%" });
		$.input_id = $("<input/>", { 
			"class" : "form-control input-sm", 
			"name"  : "party[members][][npc_id]", 
			"id"    : "party_members__npc__id",
			"type"  : "hidden" 
		});
		$.input_name = $("<input/>", { 
			"class" : "form-control input-sm party_npc_name", 
			"name"  : "party[members][][name]", 
			"id"    : "party_members__name",
			"type"  : "text" 
		});
		$.input_id.appendTo($.td_name);
		$.input_name.appendTo($.td_name);

		$.td_amount = $("<td/>", { "width": "15%" });
		$.input_amount = $("<input/>", { 
			"class" : "form-control input-sm", 
			"name"  : "party[members][][amount]",
			"id"    : "party_members__amount",
			"type"  : "number",
			"value" : 1
		});
		$.input_amount.appendTo($.td_amount);

		$.td_btn.appendTo($.tr);
		$.td_name.appendTo($.tr);
		$.td_amount.appendTo($.tr);
		$.input_index = $("<input/>", { 
			"class"       : "form-control input-sm", 
			"name"        : "party[party_npcs_attributes]["+$.index+"][id]", 
			"id"          : "party_party_npcs_attributes_"+$.index+"_id",
			"type"        : "hidden"
		});
		$.input_index.appendTo($.tr);
		$("#members tbody").append($.tr);

		$.fixNumbers();
		$.startAutoComplete();
	});

	$(document).on('click', '.del', function(event) {
		$(this).closest('tr').remove();
	});
*/
</script>