<% provide(:title, "#{@party.id} - #{@party.title}") %>

<div class="row">

	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4><%= "#{@party.id} - #{@party.title}" %></h4>
			</div>

			<div class="panel-body">
				<% @party.party_npcs.each do |party_npc| %>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<%= link_to party_npc.npc do %>
							<%= image_tag party_npc.npc.img_url, size: "48", 
																						class: "img-thumbnail" %>
							<%= party_npc.npc.name %>
							<span class="badge"><%= party_npc.amount %></span>
						<% end %>
					</div>
				<% end %>
			</div>

			<div class="panel-footer">
				<% if @party.user == current_user %>
					<%= link_to 'Editar', edit_party_path(@party), 
																						class: "btn btn-primary btn-sm" %>
				<% end %>																			
				<%= link_to 'Voltar', parties_path, class: "btn btn-default btn-sm" %>
			</div>
		</div>
	</div>
</div>