<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
	<div class="panel panel-default">
		<div class="panel-heading">
			<%= link_to user.name, user %>
		</div>
		<%= link_to user do %>
			<%= gravatar_for user, size: 200, classes: "img-thumbnail" %>		
		<% end %>
		<div class="panel-footer">
			<% if current_user?(user) %>
				<%= link_to user, class: "btn btn-info btn-xs", title: "Seguir" do %>
					<span class="glyphicon glyphicon-new-window"></span> Visualizar
				<% end %>
			<% else %>
				<%= link_to user, class: "btn btn-default btn-xs", title: "Seguir" do %>
					<span class="glyphicon glyphicon-plus"></span> Seguir
				<% end %>
			<% end %>
			<% if admin? && !current_user?(user) %>
				<%= link_to(user, method: :delete, class: "btn btn-danger btn-xs", 
									title: "Remover", data: { confirm: "Deseja remover?" }) do %>
					<span class="glyphicon glyphicon-remove"></span> Remover
				<% end %>
			<% end %>
		</div>
	</div>
</div>