<% provide(:title, @user.name) %>
<% provide(:label, "Dados do usuário") %>

<div class="row">
	<aside class="col-md-12">
		<center>
			<%= gravatar_for @user, classes: "img-circle" %>
			<h2>
				<%= @user.name %> 
			</h2>
			<% if current_user === @user %>
				<%= link_to (edit_user_path(current_user)) do %>
					Editar <span class="glyphicon glyphicon-edit"></span>
				<% end %>
			<% end %>
		</center>
	</aside>
</div>

<div class="row">
	<aside class="col-md-12">
		<% if current_user === @user %>
			<legend>Minhas criações</legend>
		<% else %>
			<legend>Criações</legend>			
		<% end %>
	</aside>
	<aside class="col-md-12">
		<!-- Nav tabs -->
		<ul class="nav nav-tabs nav-justified" role="tablist">
			<%= generate_tab "#npcs",    inner: "NPC's",       
														count: @user.npcs.count, active: true %>
			<%= generate_tab "#weapons", inner: "Armas",       
														count: @user.weapons.count %>
			<%= generate_tab "#skills",  inner: "Habilidades", 
														count: @user.skills.count %>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="npcs">
				<div class="panel panel-default">
					<div class="panel-body">
					 <%= render @user.npcs %>
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="weapons">
				<div class="panel panel-default">
					<div class="panel-body">
					 <%= render @user.weapons %>
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="skills">
				<ul class="list-group">
					<%= render @user.skills %>
				</ul>
			</div>
		</div>
	</aside>
</div>