<% provide(:title, @user.name) %>
<% provide(:label, "Dados do usuário") %>

<div class="row">
	<aside class="col-md-12">
		<center class="header">
			<%= gravatar_for @user, classes: "img-circle" %>
			<h2>
				<%= @user.name %> 
			</h2>
			<% if current_user?(@user) || admin? %>
				<%= link_to edit_user_path(current_user), 
																					class: "btn btn-default btn-xs" do %>
					<span class="glyphicon glyphicon-edit"></span> Editar
				<% end %>
			<% end %>
			<% if !current_user?(@user) && admin? %>
				<%= link_to(@user, method: :delete, class: "btn btn-danger btn-xs", 
									title: "Remover", data: { confirm: "Deseja remover?" }) do %>
					<span class="glyphicon glyphicon-remove"></span> Remover
				<% end %>
			<% end %>
			<section class="stats">
				<%= render 'shared/stats' %>
			</section>
			<p>
				<%= render 'follow_form' if logged_in? %>
			</p>
		</center>
	</aside>
</div>

<div class="row">
	<aside class="col-md-12">
		<!-- Nav tabs -->
		<ul class="nav nav-pills nav-justified" role="tablist">
			<%= generate_tab "#npcs",    inner: "NPC's",
																		count: @user.npcs.count, active: true %>
			<%= generate_tab "#parties", inner: "Grupos",
																		count: @user.parties.count %>
			<%= generate_tab "#weapons", inner: "Armas",
																		count: @user.weapons.count %>
			<%= generate_tab "#skills",  inner: "Habilidades",
																		count: @user.skills.count %>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="npcs">
				<div class="row">
					 <%= render @user.npcs %>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="parties">
				<div class="row">
					 <%= render @user.parties %>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="weapons">
				<div class="row">
					 <%= render @user.weapons %>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="skills">
				<ul class="list-group">
					<%= render @user.skills %>
				</ul>
			</div>
		</div>
	</aside>
</div>