<%= form_for(@npc, id: "npc_form", class: 'form-horizontal') do |f| %>
	<div class="row">
		<div class="col-md-12">
			<%= render partial: 'shared/error_messages', locals: {object: @npc} %>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading"><h5>Dados Básicos</h5></div>
					<div class="panel-body">
						<div class="col-md-12">
							<div class="form-group">
								<%= f.label :name, "Nome", class: 'col-md-12' %>
								<%= f.text_field :name, placeholder: "Ex: Etevaldo",
																						class: 'form-control input-sm' %>
							</div>
						</div>

						<div class="col-md-12">
							<div class="form-group">
								<%= f.label :img_url, "URL Ilustração", class: 'col-md-12' %>
								<%= f.text_field :img_url, 
																		placeholder: "Ex: http://goo.gl/LGWwUZ",
																						class: 'form-control input-sm' %>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading"><h5>Informações</h5></div>
					<div class="panel-body">
						<div class="col-md-4">
							<div class="form-group">
								<%= f.label :ally, "Aliado", class: 'col-md-12' %>
								<%= f.select(:ally, [['Sim', true],['Não', false]], {}, 
																				{ class: 'form-control input-sm' }) %>
							</div>
						</div>

						<div class="col-md-4">
							<div class="form-group">
								<%= f.label :attr_index, "Ind. Atributo", 
																												class: 'col-md-12' %>
								<%= f.number_field :attr_index, in: 1..12, step: 1, 
															class: 'form-control input-sm' %>
							</div>
						</div>

						<div class="col-md-4">
							<div class="form-group">
								<%= f.label :resistance, "Resitência", class: 'col-md-12' %>
								<%= f.number_field :resistance, in: 0..100, step: 1, 
															class: 'form-control input-sm' %>
							</div>
						</div>

						<div class="col-md-4">
							<div class="form-group">
								<%= f.label :resource, "Recurso", class: 'col-md-12' %>
								<%= f.number_field :resource, in: 2..5, step: 1, value: 2,
															class: 'form-control input-sm' %>
							</div>
						</div>

						<div class="col-md-4">
							<div class="form-group">
								<%= f.label :parry, "Aparar", class: 'col-md-12' %>
								<%= f.number_field :parry, in: 2..5, step: 1, value: 2,
															class: 'form-control input-sm' %>
							</div>
						</div>

						<div class="col-md-4">
							<div class="form-group">
								<%= f.label :armour, "Armadura", class: 'col-md-12' %>
								<%= f.number_field :armour, in: 1..6, step: 1, 
															class: 'form-control input-sm' %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<!-- Perícias -->
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading"><h5>Perícias</h5></div>
					<div class="panel-body">
						<div class="col-md-4">
							<div class="form-group">
								<%= f.label :personality, "Personalidade", class: 'col-md-12' %>
								<%= f.number_field :personality, in: 1..3, step: 1, 
																							class: 'form-control input-sm' %>
							</div>
						</div>

						<div class="col-md-4">
							<div class="form-group">
								<%= f.label :movement, "Movimento", class: 'col-md-12' %>
								<%= f.number_field :movement, in: 1..3, step: 1, 
																							class: 'form-control input-sm' %>
							</div>
						</div>

						<div class="col-md-4">
							<div class="form-group">
								<%= f.label :perception, "Percepção", class: 'col-md-12' %>
								<%= f.number_field :perception, in: 1..3, step: 1, 
																							class: 'form-control input-sm' %>
							</div>
						</div>

						<div class="col-md-4">
							<div class="form-group">
								<%= f.label :survival, "Sobrevivência", class: 'col-md-12' %>
								<%= f.number_field :survival, in: 1..3, step: 1, 
																							class: 'form-control input-sm' %>
							</div>
						</div>

						<div class="col-md-4">
							<div class="form-group">
								<%= f.label :custom, "Costumes", class: 'col-md-12' %>
								<%= f.number_field :custom, in: 1..3, step: 1, 
																							class: 'form-control input-sm' %>
							</div>
						</div>

						<div class="col-md-4">
							<div class="form-group">
								<%= f.label :vocation, "Ocupação", class: 'col-md-12' %>
								<%= f.number_field :vocation, in: 1..3, step: 1, 
																							class: 'form-control input-sm' %>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Fim Perícias -->

			<div class="col-md-6">
				<div class="panel panel-default" id="weapons">
					<div class="panel-heading">
						<h5>Equipamentos</h5>
					</div>

					<div class="table-reponsive">
						<table class="table table-condensed">
							<thead>
								<tr>
									<th width="8%"></th>
									<th width="72%">Arma</th>
									<th width="20%">Bonus</th>
								</div>
							</thead>
							<tbody>
								<%= f.fields_for :equipments, @npc.equipments do |ff| %>
									<tr class="duplicatable">
										<%= ff.hidden_field :id, class: 'nested_id' %>
										<td align="center">
											<% if ff.object.new_record? %>
												<%= link_to '', remote: true, 
															class: 'btn btn-danger btn-xs destroy_dup' do %>
													<%= link_icon('minus') %>
												<% end %>
											<% else %>
												<%= link_to npc_equipment_path(@npc, ff.object), 
																method: :delete, remote: true, 
																class: 'btn btn-danger btn-xs destroy_dup' do %>
													<%= link_icon('minus') %>
												<% end %>
											<% end %>
										</td>
										<td>
											<%= ff.collection_select :weapon_id, @npc.filter_weapons, 
														:id, :name, {}, class: "form-control input-sm" %>
										</td>
										<td>
											<%= ff.number_field :bonus, 
																					class: "form-control input-sm" %>
										</td>
									</tr>
								<% end %>
							</tbody>
						</table>
					</div>

					<div class="panel-footer">
						<%= link_to '', class: 'btn btn-info btn-xs duplicate' do %>
							<%= link_icon('plus') %> Adicionar
						<% end %>
					</div>
				</div>
			</div>
			
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading"><h5>Habilidades</h5></div>
					<div class="panel-body">
						<div class="form-group">
							<%= f.collection_select(:skills, @npc.filter_skills, :id, :name, 
								{selected: @npc.skill_ids, include_blank: false, prompt: false}, 
								multiple: true, class: "form-control input-sm")	%>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h5>Descrição</h5>
			</div>
			<div class="panel-body">
				<%= f.text_area :description, size: "30x6", 
																			class: 'form-control input-sm' %>
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="form-group">
			<%= button_tag yield(:button_text),	type: :submit, 
																						class: "btn btn-default btn-sm" %>
		</div>
	</div>
<% end %>