<% ally_class = npc.ally ? 'info' : 'danger' %>

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>
				<b>
					<%= link_to npc, class: "text-#{ally_class}" do %>
						<span class="badge"><%= npc.id %></span> <%= npc.name %> 
						<span class="pull-right">
							<%= bool_icon(npc.ally, false,
																yes_icon: "eye-open", no_icon: "eye-close") %>
						</span>
					<% end %>
				</b>
			</h4>
		</div>
		
		<% if !npc.img_url.empty? %>
			<div class="<%= "panel-body bg-#{ally_class}" %>">
				<center>
					<%= image_tag npc.img_url, size: "300", class: "img-thumbnail" %>
				</center>
			</div>
		<% end %>

		<ul class="list-group">
			<li class="list-group-item">
				<b>Indice de Atributo</b>
				<div class="progress">
					<div class="progress-bar progress-bar-<%= ally_class %>" 
							role="progressbar" aria-valuemin="0" aria-valuemax="12" 
							aria-valuenow="<%= npc.attr_index %>"
						 	style="width: <%= (npc.attr_index*100) / 12 %>%;">
						<%= npc.attr_index %>
					</div>
				</div>
			</li>
		</ul>

		<div class="panel-footer">
			<%= link_to npc, title: "Visualizar", 
								class: "btn btn-info btn-xs" do %>
				<span class="glyphicon glyphicon-new-window"></span> Visualizar
			<% end %>
			<% if npc.user == current_user %>
				<%= link_to edit_npc_path(npc), title: "Editar", 
									class: "btn btn-primary btn-xs" do %>
					<span class="glyphicon glyphicon-edit"></span> Editar
				<% end %>
				<%= link_to(npc, method: :delete, title: "Remover", 
									class: "btn btn-danger btn-xs", 
									data: { confirm: "Deseja remover?" }) do %>
					<span class="glyphicon glyphicon-remove"></span> Remover
				<% end %>
			<% end %>
		</div>
	</div>
</div>