<% ally_class = npc.ally ? 'success' : 'danger' %>
<% perc_attr_index = (npc.attr_index*100) / 12 %>

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
	<div class="panel panel-default">
		<div class="panel-heading">
			<p>
				<b class="text-<%= ally_class %>">
					<span class="badge"><%= npc.id %></span> <%= npc.name %> 
					<span class="pull-right">
						<%= bool_icon(npc.ally, false,
															yes_icon: "eye-open", no_icon: "eye-close") %>
					</span>
				</b>
			</p>
		</div>

		<% if !npc.img_url.empty? %>
			<%= link_to npc do %>
				<%= image_tag npc.img_url, size: "300", class: "img-thumbnail" %>
			<% end %>
		<% end %>

		<ul class="list-group">
			<li class="list-group-item list-group-item-small">
				<b>Indice de Atributo</b>
				<div class="progress">
					<div class="progress-bar progress-bar-<%= ally_class %>" 
							role="progressbar" aria-valuemin="0" aria-valuemax="12" 
							aria-valuenow="<%= npc.attr_index %>"
						 	style="width: <%= perc_attr_index %>%;">
						<%= npc.attr_index %>
					</div>
				</div>
			</li>
			<li class="list-group-item list-group-item-small">
				<center><b>Criado por:</b> <%=  npc.user.name %></center>
			</li>
		</ul>

		<div class="panel-footer">
			<%= link_to npc, title: "Visualizar", 
														class: "btn btn-default btn-xs" do %>
				<%= link_icon "new-window","Visualizar" %>
			<% end %>
			<% if current_user?(npc.user) || admin? %>
				<div class="pull-right">
					<%= link_to edit_npc_path(npc), title: "Editar", 
										class: "btn btn-primary btn-xs" do %>
						<span class="glyphicon glyphicon-edit"></span>
					<% end %>
					<%= link_to(npc, method: :delete, title: "Remover", 
										class: "btn btn-danger btn-xs", 
										data: { confirm: "Deseja remover?" }) do %>
						<span class="glyphicon glyphicon-remove"></span>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
</div>