<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h5>
				<b>
					<%= link_to npc do %>
						<span class="badge"><%= npc.id %></span> <%= npc.name %> 
					<% end %>
				</b>
			</h5>
		</div>

		<ul class="list-group">
			<li class="list-group-item">
				<b>Aliado:</b> <span class="badge"><%= npc.ally %></span>
			</li>
			<li class="list-group-item">
				<b>Indice Atributo:</b> <span class="badge"><%= npc.attr_index %></span>
			</li>
		</ul>

		<div class="panel-footer">
			<%= link_to edit_npc_path(npc), title: "Editar", 
								class: "btn btn-primary btn-xs" do %>
				<span class="glyphicon glyphicon-edit"></span> Editar
			<% end %>
			<%= link_to(npc, method: :delete, title: "Remover", 
								class: "btn btn-danger btn-xs", 
								data: { confirm: "Deseja remover?" }) do %>
				<span class="glyphicon glyphicon-remove"></span> Remover
			<% end %>
		</div>
	</div>
</div>