<% provide(:title, "#{@npc.id} - #{@npc.name}") %>
<% provide(:label, "Npcs") %>

<div class="row">

	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h5><%= "#{@npc.id} - #{@npc.name}" %></h5>
			</div>
			<% if !@npc.img_url.empty? %>
				<%= image_tag @npc.img_url, size: "200", class: "img-thumbnail" %>
			<% end %>
			<div class="panel-body">			
<!-- 				<p class="lead">
					<b>Descrição</b>
				</p> -->
				<p><%= @npc.description %></p>
			</div>
			<div class="panel-footer">
				<% if current_user?(@npc.user) || admin? %>
					<%= link_to 'Editar', edit_npc_path(@npc), 
																					class: "btn btn-primary btn-sm" %>
				<% end %>
				<%= link_to 'Voltar', :back, class: "btn btn-default btn-sm" %>
			</div>
		</div>
	</div>

	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h5>Informações</h5>
			</div>

			<div class="panel-body panel-columns text-center">

				<div class="row-fluid">
					<div class="col-md-6 col-header">
						<b>Aliado</b>
					</div>
					<div class="col-md-6 col-header">
						<b>Nível de Atributo</b>
					</div>
				</div>
				<div class="row-fluid">
					<div class="col-md-6">
						<%= @npc.ally %>
					</div>
					<div class="col-md-6">
						<%= @npc.attr_index %>
					</div>
				</div>

				<div class="row-fluid">
					<div class="col-md-6 col-header">
						<b>Resistência</b>
					</div>
					<div class="col-md-6 col-header">
						<b>Recurso</b>
					</div>
				</div>
				<div class="row-fluid">
					<div class="col-md-6">
						<%= @npc.resistance %>
					</div>
					<div class="col-md-6">
						<%= @npc.resource %>
					</div>
				</div>

				<div class="row-fluid">
					<div class="col-md-6 col-header">
						<b>Aparar</b>
					</div>
					<div class="col-md-6 col-header">
						<b>Armadura</b>
					</div>
				</div>
				<div class="row-fluid">
					<div class="col-md-6">
						<%= @npc.parry %>
					</div>
					<div class="col-md-6">
						<%= @npc.armour %>
					</div>
				</div>

				<div class="row-fluid">
					<div class="col-md-12 col-header">
						<b>Perícias</b>
					</div>
				</div>
				<div class="row-fluid">
					<div class="col-md-6">
						<b>Personalidade:</b> <%= @npc.personality %>
					</div>
					<div class="col-md-6">
						<b>Sobrevivência:</b> <%= @npc.survival %>
					</div>
				</div>
				<div class="row-fluid">
					<div class="col-md-6">
						<b>Movimento:</b> <%= @npc.movement %>
					</div>
					<div class="col-md-6">
						<b>Costumes:</b> <%= @npc.custom %>
					</div>
				</div>
				<div class="row-fluid">
					<div class="col-md-6">
						<b>Percepção:</b> <%= @npc.perception %>
					</div>
					<div class="col-md-6">
						<b>Ocupação:</b> <%= @npc.vocation %>
					</div>
				</div>

				<div class="row-fluid">
					<div class="col-md-12 col-header">
						<b>Perícias com Armas</b>
					</div>
				</div>
				<% @npc.equipments.each do |equipment| %>
					<div class="row-fluid">
						<div class="col-md-6 text-right">
							<%= link_to equipment.weapon.name, equipment.weapon %>
						</div>
						<div class="col-md-6 text-left">
							<%= equipment.bonus %>
						</div>
					</div>
				<% end %>

				<div class="row-fluid">
					<div class="col-md-12 col-header">
						<b>Habilidades Especiais</b>
					</div>
				</div>
				<div class="row-fluid">
					<% @npc.skills.each do |skill| %>
						<div class="col-md-6">
							<%= link_to skill.name, skill %>
						</div>
					<% end %>
				</div>

				<div class="row-fluid">
					<div class="col-md-12 col-header">
						<b>Criado por:</b> <%=  @npc.user.name %>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>