<nav class="navbar yamm navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" 
					data-toggle="collapse" data-target="#navbar" 
					aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="active">
					<%= link_to(root_path) do %>
						<%= link_icon 'home' %> Principal
					<% end %>
				</li>
				<% if logged_in? %>
					<li class="dropdown yamm-fw">
						<a href="#" data-toggle="dropdown" class="dropdown-toggle">
							<%= link_icon 'th' %> Opções<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li>
								<!-- Content container to add padding -->
								<div class="yamm-content">
									<div class="row">
										<ul class="col-sm-3 list-unstyled">
											<li>
												<h5>
													<%= link_icon 'user' %> <strong>Membros</strong> 
												</h5>
											</li>
											<li><%= link_to "Listar", users_path   %></li>
											<li><%= link_to "Novo",   new_user_path %></li>
										</ul>
										<ul class="col-sm-3 list-unstyled">
											<li>
												<h5>
													<%= link_icon 'user' %> <strong>Npcs</strong>
												</h5>
											</li>
											<li><%= link_to "Visualizar", npcs_path    %></li>
											<li><%= link_to "Criar",      new_npc_path %></li>
										</ul>
										<ul class="col-sm-3 list-unstyled">
											<li>
												<h5><strong>Grupos</strong></h5>
											</li>
											<li><%= link_to "Visualizar", parties_path   %></li>
											<li><%= link_to "Criar",      new_party_path %></li>
										</ul>
										<ul class="col-sm-3 list-unstyled">
											<li>
												<h5><strong>Armas</strong></h5>
											</li>
											<li><%= link_to "Todas", weapons_path    %></li>
											<li><%= link_to "Criar", new_weapon_path %></li>
											<li>
												<%= link_to "Categorias", weapon_categories_path %>
											</li>
										</ul>
										<ul class="col-sm-3 list-unstyled">
											<li>
												<h5><strong>Habilidades</strong></h5>
											</li>
											<li><%= link_to "Todas", skills_path    %></li>
											<li><%= link_to "Criar", new_skill_path %></li>
										</ul>
									</div>
								</div><!-- Content container to add padding -->
							</li>
						</ul>
					</li>
					<li>
						<%= link_to "Batalha", battle_path %>
					</li>
				<% end %>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<% if logged_in? %>
					<li><%= link_to 'Sobre',	 about_path %></li>
					<li><%= link_to 'Contato', contact_path %></li>
					<li><%= link_to 'Ajuda',	 help_path %></li>
					<li class="dropdown active">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" 
								role="button" aria-haspopup="true" aria-expanded="false">
							<%= gravatar_for current_user, size: 22, classes: "img-circle" %> 
							<span class="<%= admin? ? 'text-warning' : '' %>">
								<%= current_user.name %>
							</span> 
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><%= link_to "Minha conta", current_user %></li>
							<li><%= link_to "Opções", edit_user_path(current_user) %></li>
							<li role="separator" class="divider"></li>
							<li>
								<%= link_to logout_path, method: "delete" do %>
									<span class="glyphicon glyphicon-log-out"></span> Sair
								<% end %>
							</li>
						</ul>
					</li>
				<% else %>
					<li><%= link_to 'Sobre',	 about_path %></li>
					<li><%= link_to 'Contato', contact_path %></li>
					<li><%= link_to 'Ajuda',	 help_path %></li>
					<li class="active">
						<%= link_to 'Entrar',	login_path %>
					</li>
				<% end %>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</nav>
